DB_DRIVER="sqlite"
DB_CONNECTION="${DB_DRIVER}"
DB_PATH="tests/database.sqlite"
DB_DATABASE="${DB_PATH}"
DB_FOREIGN_KEYS=true

# DB_DRIVER="mysql"
# DB_DATABASE="database"
# DB_HOST="localhost"
# DB_USER="root"
# DB_PASS=""
